@font-face {
    font-family: 'Circular Std Black';
    src: url('CircularStd-Black.otf');
}

@font-face {
    font-family: 'Circular Std Black';
    src: url('CircularStd-BlackItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('CircularStd-Bold.otf');
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('CircularStd-BoldItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('CircularStd-Medium.otf');
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('CircularStd-MediumItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.otf');
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-BookItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Reenie Beanie';
    src: url('ReenieBeanie-Regular.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl;
    @apply font-mgblack;
}

h2 {
    @apply text-xl mb-2 mt-10;
}

h3 {
    @apply text-lg mt-8 -mb-2;
}

a {
    @apply text-blue-600 underline;
}

p {
    @apply mt-3;
}

strong {
    @apply text-black font-bold;
}

a {
    @apply text-black font-semibold;
}

strong a {
    @apply font-bold;
}

blockquote {
    @apply border-l-4 pl-4 italic;
}

ul, ol {
    @apply list-disc pl-5;

}

#menu-principal li.active {
    @apply border-naranja;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.customArrow {
    @apply absolute;
    @apply mb-auto;
    @apply mt-auto;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.customArrowNext {
    @apply rounded-tl-full;
    @apply rounded-bl-full;
    right: 0;
}

.customArrowPrev {
    @apply rounded-tr-full;
    @apply rounded-br-full;
}



/*
Indicadores abajo
*/



.fp-slidesNav.fp-bottom {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

