@font-face {
    font-family: 'Circular Std Black';
    src: url('CircularStd-Black.otf');
}

@font-face {
    font-family: 'Circular Std Black';
    src: url('CircularStd-BlackItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('CircularStd-Bold.otf');
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('CircularStd-BoldItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('CircularStd-Medium.otf');
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('CircularStd-MediumItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.otf');
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-BookItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Reenie Beanie';
    src: url('ReenieBeanie-Regular.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl;
    @apply font-mgblack;
}

h2 {
    @apply text-xl mb-2 mt-10;
}

h3 {
    @apply text-lg mt-8 -mb-2;
}

a {
    @apply text-blue-600 underline;
}

p {
    @apply mt-3;
}

strong {
    @apply text-black font-bold;
}

a {
    @apply text-black font-semibold;
}

strong a {
    @apply font-bold;
}

blockquote {
    @apply border-l-4 pl-4 italic;
}

ul, ol {
    @apply list-disc pl-5;

}



.blanco-transparent {
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%)
}

.negro-transparent {
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(255,255,255,0) 100%)
}

.naranja-transparent {
    background-image: linear-gradient(180deg, rgb(242, 92, 74) 0%, rgb(242, 92, 74) 90%, rgba(255,255,255,0) 100%)
}

.transparent-transparent {
    background-image: linear-gradient(transparent,transparent);
}

.transparent-blanco {
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%)
}

.transparent-negro {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(255,255,255,0) 100%)
}

.transparent-naranja {
    background-image: linear-gradient(0deg, rgb(242, 92, 74) 0%, rgb(242, 92, 74) 90%, rgba(255,255,255,0) 100%)
}

@screen lg {

    .blanco-transparent {
        background-image: linear-gradient(transparent,transparent)
    }

    .negro-transparent {
        background-image: linear-gradient(transparent,transparent)
    }

    .naranja-transparent {
        background-image: linear-gradient(transparent,transparent)
    }

    .transparent-transparent {
        background-image: linear-gradient(transparent,transparent);
    }

    .transparent-blanco {
        background-image: linear-gradient(transparent,transparent)
    }

    .transparent-negro {
        background-image: linear-gradient(transparent,transparent)
    }

    .transparent-naranja {
        background-image: linear-gradient(transparent,transparent)
    }
}

.iScrollVerticalScrollbar {

}

.iScrollIndicator {
}






#menu-secundario li.active .indicator {
    visibility: visible;
}

#menu-principal li.active .indicator {
    visibility: visible;
}







.customArrow {
    @apply absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.customArrowNext {
    @apply rounded-tl-lg;
    @apply rounded-bl-lg;
    right: 0;
}

.customArrowPrev {
    @apply rounded-tr-lg;
    @apply rounded-br-lg;
}


@screen md {
    .customArrowNext {
        @apply rounded-tl-full;
        @apply rounded-bl-full;
        right: 0;
    }

    .customArrowPrev {
        @apply rounded-tr-full;
        @apply rounded-br-full;
    }
}

.arrowText {
    position: absolute;
    top: 50%;
    left: 50%;

}

.rotateArrowTextNext {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.rotateArrowTextPrev {
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}




/*
Indicadores abajo
*/


.fp-slidesNav.fp-bottom {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.teamImage {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.teamImage:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}




